{% extends 'layout.html' %}
{% set active_page= 'index' -%}
{% block content %}
  

      <div class="container">
       <div class="row">
         <div class=col-12></div>
          <div class="column">
            <img src="../static/images/1.jpg" alt="Snow" style="width:100%">
          </div>
          <div class="column">
            <img src="../static/images/3.jpg" alt="Forest" style="width:100%">
          </div>
          <div class="column">
            <img src="../static/images/speaker.jpeg" alt="Mountains" style="width:250px;height:180px;">
          </div>
          <div class="column">
            <img src="../static/images/2.jpg" alt="Mountains" style="width:100%">
          </div>
        </div>
      
        <div class="row"><div class="column">
          <h1 class="center">Joshua Woodard: Portfolio</h1>
        </div>
      
      
        <!-- <div class="topnav">
          <a href="portfolio.html">Home</a>>Home</a>
          <a href="https://www.codewars.com/users/woodardj3383" target="new">Code Wars</a>
          <a href="mailto:josh.a.woodard@gmail.com">Email</a>
          <a href="aboutme.html">About Me</a>
          <a href="https://www.reddit.com/r/learnprogramming/" target="new">Resources</a>
      
        </div> -->
      
      
      
        <!-- <div>
          <ul class="ul1">
      
            <h3>Personal Interests:</h3>
            <li> <b>Coding Challenges</b></li>
            </br>
            <li><b>Great Outdoors</b></li>
           
            </br>
            <li><b>20th Century American History</b></li>
            </br>
            <li><b>Car Restoration</b></li>
            </br>
            <li><b>Playing/Listening Music</b></li>
            </br>
        </div> -->
        </br>
        </br>
        </br>
        </br>
        </br>
        <div>
          <table id="table1" style="margin-left: 230px;" >
            <tr>
              <th>Project</th>
              <th>File</th>
      
            </tr>
            <tr>
              <td>Chicago Multi-Family Data Anlysis</td>
              <td><a href="https://github.com/woodardj3383/Multi_Family_Project.git" target="new">Chicago Multi-Family Data Anlysis</a></td>
              <!-- <td>Hello World!</td>
              <td><a href="helloWorld.py" target="new">Hello World!</a></td> -->
            </tr>
            <tr>
              <td>Blackjack</td>
              <td><a href="https://github.com/woodardj3383/blackjack-portfolio.git" target="new">Blackjack</a></td>
              <!-- <td>Oregon Trail</td>
              <td><a href="otrail 2.py" target="new">Otrail2</a></td>
       -->
      
            </tr>
            <tr>
              <td>Grocery Cart</td>
              <td><a href="https://github.com/woodardj3383/Grocery-cart.git" target="new">Grocery Cart</a></td>
              <!-- <td>Best Shipping Project</td>
              <td><a href="shippingproj.py" target="new">shippingproj.py</a></td> -->
            </tr>
            <tr>
              <td>Car Dealership</td>
              <td><a href="https://github.com/woodardj3383/dealership.git" target="new">Car Dealership</a></td>
            </tr>
              <!-- <td>Lists and Ranges</td>
              <td><a href="chap5_lists_ranges.py" target="new">chap5_lists_ranges</a></td>
            </tr> -->
            <tr>
              <td>Fuel Analysis</td>
              <td><a href="https://github.com/woodardj3383/fuel_project.git" target="new">Fuel Analysis</a></td>
            </tr>
            <!-- <tr>
              <td>Cipher Encryption</td>
              <td><a href="cipher.py" target="new">Cipher</a></td>
            </tr> -->
          </table>
        </div>
      
      
      </div>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>

      
{% endblock %}    